<div class="container">

  <!--头部-->
      <header class="common-header">
          <img class="actionBg link" src="./images/home.png" data-src="./images/home.png" alt="actionBg" />
          <div class="btns">
              <a href="../homepage/index.html"> <span class="btns-item">首 页</span></a>
              <a href="../service/index.html"> <span class="btns-item ">产品服务</span></a>
              <a href="../classiccase/index.html"> <span class="btns-item ">经典案例</span></a>
              <a href="../cooperate/index.html"> <span class="btns-item ">渠道合作</span></a>
              <a href="../businesculture/index.html"> <span class="btns-item ">企业文化</span></a>
              <a href="../joinus/index.html"> <span class="btns-item active">关于我们</span></a>
          </div>
      </header>

      <div class="tab">
          <span class="tab__item">企业文化</span>
          <span class="tab__item">加入我们</span>
      </div>

      <!-- 文化 -->
      <section class="culture" id="culture" style="border:2px solid yellow">
          <!--轮播-->
          <div class="common-carousel" style="background-image: url(./images/banner.png)">
              <div class="content">
                  <div class="title">
                      让商业变得更智慧
                  </div>
                  <div class="detail">
                      <div>通过科技驱动商业革新</div>
                      <div>助力中小型企业向数字化转型</div>
                  </div>
              </div>
              <div class="img-switch">
                  <div class="color active"></div>
              </div>
          </div>

          <!--企业介绍-->
          <div class="enterprise-introduction">
              <div class="img-block">
                  <img src="./images/enterprise_introduction.png">
              </div>
              <div class="text-block enterprise-info">
                  <div class="header">企业介绍</div>
                  <div class="desc">company profile</div>
                  <div class="content">
                      广州莱聚信息技术有限公司是一家专业从事网站建设、网站推广和网络营销的互联网基础运营商。
                      我们致力于为中小企业提供网站建设和电子商务的应用及推广等服务，从市场的角度和客户的需求出发，
                      帮助中小型企业快速占据营销风口，实现传统营销方式向互联网多元营销模式快速转化，拓展市场空间创造竞争优势，
                      为客户提升产品价值创造经济收益，让网站不再是企业的摆设，而是成为网络营销工具。
                  </div>
              </div>
          </div>

          <!--企业精神愿景-->
          <div class="enterprise-spirit">
              <div class="text-block">
                  <div class="spirit enterprise-info">
                      <div class="header">企业精神</div>
                      <div class="desc">enterprise spirit</div>
                      <div class="content">
                          对项目负责，给予用户最大的信任；为员工提供良好的工作环境和奖励机制，注重人才的培养；增强团队凝聚力，聚集团队力量，形成聚合之势。
                      </div>
                  </div>
                  <div class="vision enterprise-info">
                      <div class="header">企业愿景</div>
                      <div class="desc">corporate vision</div>
                      <div class="content">
                          助力中小企业向数字化转型；通过科技驱动商业革新；让商业变得更智慧;建立共赢发展模式，构建本地化移动互联网发展平台。
                      </div>
                  </div>
              </div>
              <div class="img-block">
                  <img src="./images/laiju.png">
                  <img src="./images/enterprise_vision.png">
              </div>
          </div>

          <!--办公环境-->
          <div class="office-environment">
              <div class="environment-header common-introduce">
                  <div class="header">
                      办公环境
                  </div>
                  <div class="content">
                      office environment
                  </div>
                  <div class="blueBlock"></div>
              </div>

              <div class="imgs">
                  <img src="./images/environment_1.png">
                  <img src="./images/environment_2.png">
                  <img src="./images/environment_3.png">
              </div>
          </div>

          <!--福利待遇-->
          <div class="welfare">
              <div class="welfare-header common-introduce">
                  <div class="header">
                      福利待遇
                  </div>
                  <div class="content">
                      welfare treatment
                  </div>
                  <div class="blueBlock"></div>
              </div>

              <div class="content">
                  <div class="item">
                      <div class="img-container">
                          <img src="./images/welfare_1.png">
                      </div>
                      <div class="label">弹性工作时间</div>
                  </div>
                  <div class="item">
                      <div class="img-container">
                          <img src="./images/welfare_2.png">
                      </div>
                      <div class="label">五险一金</div>
                  </div>
                  <div class="item">
                      <div class="img-container">
                          <img src="./images/welfare_3.png">
                      </div>
                      <div class="label">24小时零食供应</div>
                  </div>
                  <div class="item">
                      <div class="img-container">
                          <img src="./images/welfare_4.png">
                      </div>
                      <div class="label">节假日全休</div>
                  </div>
                  <div class="item">
                      <div class="img-container">
                          <img src="./images/welfare_5.png">
                      </div>
                      <div class="label">每周不定期聚餐</div>
                  </div>
                  <div class="item">
                      <div class="img-container">
                          <img src="./images/welfare_6.png">
                      </div>
                      <div class="label">年度健康体检</div>
                  </div>

              </div>

              <div class="join-us">
                  <a class="btn" href="../joinus/index.html">加入我们</a>
              </div>
          </div>
      </section>

      
      <!-- 加入我们 -->
      <section class="join-us" id="joinUs">
          <!--轮播-->
          <div class="common-carousel" style="background-image: url(./images/banner.png)">
              <div class="content right black">
                  <div class="title">
                      快来加入我们吧
                  </div>
                  <div class="detail">
                      <div>创业型公司给你最大的发展空间</div>
                      <div>年轻化工作模式，享受自我价值的最大发挥</div>
                  </div>
              </div>
          </div>
          <div class="join-tips">
              注：对以下职位感兴趣者请以“姓名+应聘职位+手机号”为邮件名，发简历至“laiju@qq.com”。
          </div>

          <!--主内容-->
          <div class="main-content">
              <div class="type-list" id="typeList">
                  <div class="item active">管理类（3）</div>
                  <div class="item">技术类（2）</div>
                  <div class="item">销售类（0）</div>
              </div>
              <div class="job-list" id="jobList">
                  <div class="item">
                      <div class="title">
                          <div class="title-name">
                              <div class="job-name">技术总监</div>
                              <div class="job-num">招聘人数：1人</div>
                          </div>
                          <!--展开收起-->
                          <div class="act-btns">
                              <a class="unfold-link"></a>
                              <a class="fold-link"></a>
                          </div>
                      </div>
                      <div class="desc-line line">
                          <!--<div class="header">职位描述：</div>-->
                          <div class="content">
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                          </div>
                      </div>

                  </div>
                  <div class="item">
                      <div class="title">
                          <div class="title-name">
                              <div class="job-name">技术总监</div>
                              <div class="job-num">招聘人数：1人</div>
                          </div>
                          <!--展开收起-->
                          <div class="act-btns">
                              <a class="unfold-link"></a>
                              <a class="fold-link"></a>
                          </div>
                      </div>
                      <div class="desc-line line">
                          <!--<div class="header">职位描述：</div>-->
                          <div class="content">
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                          </div>
                      </div>

                  </div>
                  <div class="item">
                      <div class="title">
                          <div class="title-name">
                              <div class="job-name">技术总监</div>
                              <div class="job-num">招聘人数：1人</div>
                          </div>
                          <!--展开收起-->
                          <div class="act-btns">
                              <a class="unfold-link"></a>
                              <a class="fold-link"></a>
                          </div>
                      </div>
                      <div class="desc-line line">
                          <!--<div class="header">职位描述：</div>-->
                          <div class="content">
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                          </div>
                      </div>

                  </div>
                  <div class="item">
                      <div class="title">
                          <div class="title-name">
                              <div class="job-name">技术总监</div>
                              <div class="job-num">招聘人数：1人</div>
                          </div>
                          <!--展开收起-->
                          <div class="act-btns">
                              <a class="unfold-link"></a>
                              <a class="fold-link"></a>
                          </div>
                      </div>
                      <div class="desc-line line">
                          <!--<div class="header">职位描述：</div>-->
                          <div class="content">
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                          </div>
                      </div>

                  </div>
                  <div class="item">
                      <div class="title">
                          <div class="title-name">
                              <div class="job-name">技术总监</div>
                              <div class="job-num">招聘人数：1人</div>
                          </div>
                          <!--展开收起-->
                          <div class="act-btns">
                              <a class="unfold-link"></a>
                              <a class="fold-link"></a>
                          </div>
                      </div>
                      <div class="desc-line line">
                          <!--<div class="header">职位描述：</div>-->
                          <div class="content">
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                          </div>
                      </div>

                  </div>
                  <div class="item">
                      <div class="title">
                          <div class="title-name">
                              <div class="job-name">技术总监</div>
                              <div class="job-num">招聘人数：1人</div>
                          </div>
                          <!--展开收起-->
                          <div class="act-btns">
                              <a class="unfold-link"></a>
                              <a class="fold-link"></a>
                          </div>
                      </div>
                      <div class="desc-line line">
                          <!--<div class="header">职位描述：</div>-->
                          <div class="content">
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                          </div>
                      </div>

                  </div>
                  <div class="item">
                      <div class="title">
                          <div class="title-name">
                              <div class="job-name">技术总监</div>
                              <div class="job-num">招聘人数：1人</div>
                          </div>
                          <!--展开收起-->
                          <div class="act-btns">
                              <a class="unfold-link"></a>
                              <a class="fold-link"></a>
                          </div>
                      </div>
                      <div class="desc-line line">
                          <!--<div class="header">职位描述：</div>-->
                          <div class="content">
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                          </div>
                      </div>

                  </div>
                  <div class="item">
                      <div class="title">
                          <div class="title-name">
                              <div class="job-name">技术总监</div>
                              <div class="job-num">招聘人数：1人</div>
                          </div>
                          <!--展开收起-->
                          <div class="act-btns">
                              <a class="unfold-link"></a>
                              <a class="fold-link"></a>
                          </div>
                      </div>
                      <div class="desc-line line">
                          <!--<div class="header">职位描述：</div>-->
                          <div class="content">
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                          </div>
                      </div>

                  </div>
                  <div class="item">
                      <div class="title">
                          <div class="title-name">
                              <div class="job-name">技术总监</div>
                              <div class="job-num">招聘人数：1人</div>
                          </div>
                          <!--展开收起-->
                          <div class="act-btns">
                              <a class="unfold-link"></a>
                              <a class="fold-link"></a>
                          </div>
                      </div>
                      <div class="desc-line line">
                          <!--<div class="header">职位描述：</div>-->
                          <div class="content">
                              从事技术方便工作且有过至少一年以上的主管经验，对于技术方便工作能够高效率完成并且合理协调整个团队，把控团队的进度，做到按时、高效。
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </section>


  </div> 